@import 'header';

html,
body {
  margin: 0;
  background: white;
  font-family: sans-serif;
}

main {
  background: white;
}

.setters {
  text-align: center;

  h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 48px;
    font-weight: normal;
    // transition: filter .2s cubic-bezier(.25, .8, .25, 1);
    transition: filter .2s linear;
  }

  h2:hover,
  img:hover {
    filter:
      drop-shadow(15px 15px rgba(255, 255, 0, .3))
      drop-shadow(15px -15px rgba(255, 0, 255, .3))
      drop-shadow(-15px 15px rgba(0, 255, 255, .3));
  }

  p {
    font-family: 'Libre Baskerville', serif;
  }

  img {
    margin: 20px 0;
    transition: filter .2s linear;

  }
}

.my-library {
  text-align: center;
}

.my-library .my-library__item {
  display: inline-block;
}

.my-library a {
  display: inline-block;
  width: 400px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.my-library img {
  max-width: 100%;
}

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  transform: scale(0) rotate(180deg);
  -webkit-transition: scale(0) rotate(180deg);
  -moz-transition: scale(0) rotate(180deg);

  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
  transform: scale(1) rotate(0deg);
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}
